h1 {
    text-align: center;
    padding-top: 0px;
    color: white;
    font-size: 60px;
    font-family: sans-serif;
   
}


body {
    background-image: url(books_library_shelves_138556_1920x1080.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding-top: 70px;
    flex-direction: column;
}

form {
    width: 800px;
    height: 400px; 
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    margin-left: 20px;
    
    
}



label {
    color: #000;
    font-size: 18px;
    padding-left: 20px;
    margin-top: 40px;
    
}


input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

button{
    
    
    width: 100px;
    float: right;
    
    
    
    border-radius: 3px;
    
    
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
    
}

a {
    
    display: block;
    background-color: darkgoldenrod;
    padding: 20px 6px;
    color: #fff;
    border-radius: 5px;
    margin-top: 240px;
    font-family: sans-serif;
    border: none;
    text-decoration: none;
    shape-outside: border-box;
    width: 100%;
    text-align: center;
   
    
    
}

a:hover {
    
    background-color: dimgrey;
}




.b2 {
    
    background-color: forestgreen;
    padding: 10px 15px;
    width: 70px;
    
    margin-left: 130%;
    margin-bottom: 100px;
    
    transition-duration: 0.4;
}

.b2:hover {
    
    background-color: dimgrey;
    color: white;
}